league-479336/team-1851052/responses/team-schedule.html -text
league-479336/team-1851052/responses/team-schedule.headers.txt -text
league-479336/team-1851052/metadata/team-schedule.attempt-1.json -text
league-479431/team-1853975/responses/team-schedule.html -text
league-479431/team-1853975/responses/team-schedule.headers.txt -text
league-479431/team-1853975/metadata/team-schedule.attempt-1.json -text
